{% extends 'regapp/base.html' %}

{% load static %}

{% block header %}
	<a href="{% url 'signOut' %}" class="btn btn-right ghost-btn">ВЫЙТИ</a>
	{% if count %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }} ({{ count }})</a>
	{% else %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }}</a>
	{% endif %}
{% endblock %}

{% block content %}
	<form action="{% url 'index' %}" method="get">
		<input type="search" required name="search" class="search-field" placeholder="Введите наименование оборудования">
	</form>
	<div class="categories-wrapper">
		<p>Категории</p>
		<ul>
			{% if catId == 0 %}
				<li class="selected-category"><a href="{% url 'index' %}">Все категории</a></li>
				{% for c in categories %}
					<li><a href="{% url 'index' c.id %}">{{ c.name }}</a></li>
				{% endfor %}
			{% else %}
				<li><a href="{% url 'index' %}">Все категории</a></li>
				{% for c in categories %}
					{% if c.id == catId %}
						<li class="selected-category"><a href="{% url 'index' c.id %}">{{ c.name }}</a></li>
					{% else %}
						<li><a href="{% url 'index' c.id %}">{{ c.name }}</a></li>
					{% endif %}
				{% endfor %}
			{% endif %}
		</ul>
	</div>
	<div class="equipments-wrapper">
		{% for e in equipments %}
			<a href="{% url 'equipment' e.slug %}" class="equipment">
				<img class="equipment-img" src="{{ e.image.url }}" alt="{{ e.name }}">
				<p>{{ e.name }}</p>
			</a>
		{% endfor %}
	</div>
{% endblock %}