{% extends 'regapp/base.html' %}

{% block header %}
	<a href="{% url 'signOut' %}" class="btn btn-right ghost-btn">ВЫЙТИ</a>
	{% if count %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }} ({{ count }})</a>
	{% else %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }}</a>
	{% endif %}
{% endblock %}

{% block content %}
	<a href="{% url 'myApplications' %}" class="btn btn-left secondary-btn">МОИ ЗАЯВКИ</a>
	<p class="title text-16 myApp-title">{{ app.educational_institution.name }}</p>
	<hr class="line myApp-line"/>
	<p class="title text-color-6">{{ app.educational_institution.founder.name }}, {{ app.educational_institution.founder.address }}, {{ app.educational_institution.founder.phone_number }}, {{ app.educational_institution.founder.email }}</p>
	<p class="text-right text-margin-20">{{ app.date }}</p>
	<p class="title text-bold text-16 text-margin-20 app-title">{{ title }}<br>на приобретение оборудования<br>{{ app.educational_institution.short_name }}</p>
	<table class="table-margin-top">
		<tr>
			<th>ID</th>
			<th>НАИМЕНОВАНИЕ</th>
			<th>КАТЕГОРИЯ</th>
			<th>ЦЕНА, РУБ.</th>
			<th>КОЛ-ВО</th>
		</tr>
		{% for aE in appEqs %}
			<tr onclick="window.location='{% url 'equipment' aE.equipment.slug %}';">
				<td>{{ aE.id }}</td>
				<td>{{ aE.equipment.name }}</td>
				<td>{{ aE.equipment.category.name }}</td>
				<td>{{ aE.equipment.price }}</td>
				<td>{{ aE.count }}</td>
			</tr>
		{% endfor %}
	</table>
	<p class="text-right text-margin-20">{{ user.position.name }} {{ user.full_name }}</p>
{% endblock %}