{% extends 'regapp/base.html' %}

{% block header %}
    <a href="{% url 'signOut' %}" class="btn btn-right ghost-btn">ВЫЙТИ</a>
	{% if count %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }} ({{ count }})</a>
	{% else %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }}</a>
	{% endif %}
{% endblock %}

{% block content %}
    <p class="title myApplications-title">Мои заявки</p>
    <a href="{% url 'regApp' %}" class="btn btn-right primary-btn">ЗАРЕГИСТРИРОВАТЬ ЗАЯВКУ</a>
    <table>
        <tr>
            <th>ID</th>
            <th>ДАТА</th>
            <th>ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ</th>
        </tr>
        {% for app in apps %}
            <tr onclick="window.location='{% url 'myApp' app.id %}';">
                <td>{{ app.id }}</td>
                <td>{{ app.date }}</td>
                <td>{{ app.educational_institution.name }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}