{% extends 'regapp/base.html' %}

{% block header %}
    <a href="{% url 'signOut' %}" class="btn btn-right ghost-btn">ВЫЙТИ</a>
	{% if count %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }} ({{ count }})</a>
	{% else %}
		<a href="{% url 'myApplications' %}" class="btn btn-right ghost-btn">{{ username }}</a>
	{% endif %}
{% endblock %}

{% block content %}
		<form class="form-width-half" method="post">
			{% csrf_token %}
			<p class="title text-16">Регистрация заявки</p>
			<hr class="line"/>

			<div class="form-row form-row-error"></div>
			<div class="form-row">
				<label for="institution" class="label">Образовательное учреждение:</label>
				<select id="institution" name="institution" class="input input-right" required>
					{% if not selected_institution %}
						<option value selected>Выберите учреждение</option>
						{% for i in institutions %}
							<option value="{{ i.id }}">{{ i.short_name }}</option>
						{% endfor %}
					{% else %}
						{% for i in institutions %}
							{% if i == selected_institution %}
								<option value="{{ i.id }}" selected>{{ i.short_name }}</option>
							{% else %}
								<option value="{{ i.id }}">{{ i.short_name }}</option>
							{% endif %}
						{% endfor %}
					{% endif %}
				</select>
			</div>
			<div class="form-row form-row-error"></div>

			<div class="form-row">
				<label class="label">Оборудование:</label>
				<button class="btn btn-right btn-width-half secondary-btn" name="add">ДОБАВИТЬ ОБОРУДОВАНИЕ</button>
			</div>

			{% for e in equipments %}
				<div class="form-row">
					<select name="equipment_{{ e.index }}" class="input input-left">
						{% if e.equipment == 'default' %}
							<option value selected>Выберите оборудование</option>
						{% else %}
							<option value>Выберите оборудование</option>
						{% endif %}
						{% for c in categories %}
							<optgroup label="{{ c.name }}">
								{% for ae in all_equipments %}
									{% if ae.category == c %}
										{% if ae == e.equipment %}
											<option value="{{ ae.slug }}" selected>{{ ae.name }}</option>
										{% else %}
											<option value="{{ ae.slug }}">{{ ae.name }}</option>
										{% endif %}
									{% endif %}
								{% endfor %}
							</optgroup>
						{% endfor %}
					</select>
					<button class="btn btn-right btn-width-30 secondary-btn" name="x_{{ e.index }}" value="{{ e.index }}">✕</button>
					<input class="input input-width-1 input-right" min="1" type="number" name="count_{{ e.index }}" value="{{ e.count }}" placeholder="Кол-во">
				</div>
				<div class="form-row form-row-error"></div>
			{% endfor %}

			<hr class="line"/>
			<div class="form-row">
				<input class="btn btn-right btn-width-half primary-btn" type="submit" name="submit" value="ЗАРЕГИСТРИРОВАТЬ">
			</div>
		</form>
{% endblock %}