{% extends 'regapp/base.html' %}

{% block header %}
    <a href="{% url 'signIn' %}" class="btn btn-right ghost-btn">ВОЙТИ</a>
{% endblock %}

{% block content %}
    <form class="form-width-half" method="post">
        {% csrf_token %}
        <p class="title text-16">Регистрация</p>
        <hr class="line"/>
        <input class="input" type="text" id="signup-login" name="signup-login" placeholder="Введите логин">
        <label class="label" for="signup-login">Логин:</label>
        <input class="input" type="password" id="signup-pass" name="signup-pass" placeholder="Введите пароль">
        <label class="label" for="signup-pass">Пароль:</label>
        <input class="input" type="password" id="signup-pass2" name="signup-pass2" placeholder="Введите пароль еще раз">
        <label class="label" for="signup-pass2">Подтверждение пароля:</label>
        <input class="input" type="email" id="email" name="email" placeholder="Введите email">
        <label class="label" for="email">Email:</label>
        <input class="input" type="text" id="first-name" name="first-name" placeholder="Введите имя">
        <label class="label" for="first-name">Имя:</label>
        <input class="input" type="text" id="last-name" name="last-name" placeholder="Введите фамилию">
        <label class="label" for="last-name">Фамилия:</label>
        <hr class="line"/>
        <input class="btn btn-right btn-width-half primary-btn" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
    </form>
{% endblock %}