{% extends 'regapp/base.html' %}

{% block header %}
    <a href="{% url 'signIn' %}" class="btn btn-right ghost-btn">ВОЙТИ</a>
{% endblock %}

{% block content %}
    <form class="form-width-half" action="{% url 'signUp' %}" method="post">
        {% csrf_token %}
        <p class="title text-16">Регистрация</p>
        <hr class="line"/>
        <div class="form-row form-row-error">{{ f.non_field_errors }}</div>
        {% for f in form %}
            <div class="form-row">
                <label class="label" for="{{ f.id_for_label }}">{{ f.label }}:</label>
                {{ f }}
            </div>
            <div class="form-row form-row-error">{{ f.errors }}</div>
        {% endfor %}
        <hr class="line"/>
        <div class="form-row">
            <input class="btn btn-right btn-width-half primary-btn" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
        </div>
    </form>
{% endblock %}